@import 'core.scss';

.home {
  padding: 90px 0;
  min-height: 100vh;
  background: rgb(230, 230, 230);
  .container {
    max-width: 1000px;

    box-sizing: border-box;
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 30px;
    border-radius: 18px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .edit {
      margin-right: 12px;
    }
    button {
      background: rgb(135, 199, 135);
      border: none;
      color: #fff;
      font-weight: 500;
      height: fit-content;
      padding: 7px 12px;
      border-radius: 6px;
      transition: 0.1s;
      cursor: pointer;
      &:hover {
        background: rgb(168, 226, 168);
      }
    }
  }
  .empty {
    text-align: center;
  }
}
